.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.container > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
}

body {
    margin: 2rem;
    font: 12px system-ui;
}

.calendar-wrapper {
    max-width: 289px;
    font: 100% system-ui;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-name {
    background: lightpink;
}

.first-day {
    grid-column-start: 4;
}

h1 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 2px;
}