.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.container > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
}

body {
    margin: 2rem;
    font: 12px system-ui;
}

.calendar-wrapper {
    max-width: 280px;
    font: 100% system-ui;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-name {
    background: lightpink;
}

.first-day {
    grid-column-start: 3;
}

h1 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 2px;
}

ol.calendar li:nth-child(7n-2), ol.calendar li:nth-child(7n-3) {
    background-color: lightcoral;
}

ol.calendar li:nth-child(4), ol.calendar li:nth-child(5) {
    background-color: lightpink;
}

.puls {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 20px;
    position: absolute;
    color: white;
    background-color: pink;
    text-align: center;
    top: 500px;
    left: 100px;
    animation: pulsiraj 1s infinite;
    animation-direction: alternate;
}

@keyframes pulsiraj {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.75);
        background-color: lightsalmon;
    }
    75% {
        transform: scale(1);
        background-color: palevioletred;
    }
    100% {
        transform: scale(1.5);
        background-color: deeppink;
    }
}